
<div id="title">
<h1>Kol-da-sack Kombat:</h1>
<h2>Episode I</h2>
<h3>The Broken Window</h3>
</div>

<div id="startup" class="nes-container is-rounded is-dark">
<p class="p1">Join the fight to defend the Kol-da-sack</p>
<p class="p2"></p>
</div>
{{#if error}}
<div class="error">
  {{error}}
</div>
{{/if}}

<form action="/register" method="POST">
<div id="setupCon" class="nes-container is-rounded">
<div id="startupThree" class="nes-field">
  <label for="name_field">Your email</label>
  <input type="text" name="email" id="name_field" class="nes-input">
</div>
<div id="startupThree" class="nes-field">
  <label for="name_field">Your password</label>
  <input type="password" name="password" id="name_field" class="nes-input">
</div>
<div id="startupThree" class="nes-field">
  <label for="name_field">Your Name</label>
  <input type="text" name="name" id="name_field" class="nes-input">
</div>
<div id="startupThree" class="nes-field">
  <label for="name_field">Age</label>
  <input type="number" name="age" id="name_field" class="nes-input">
</div>
<label for="default_select">Pick a class</label>
<div class="nes-select">
  <select required id="default_select" name="class">
    <option value="" disabled selected hidden>Pick one...</option>
    <option value="fighter">Fighter</option>
    <option value="mage">Mage</option>
  </select>  
</div>
</div>
<div id="startup2">
 <input class="nes-btn" type="submit" value="Join the fight!">
</div>
</form>