
<div id="title">
<h1 class="blink_me">Kol-da-sack Kombat:</h1>
<h2>Episode I</h2>
<h3>The Broken Window</h3>
</div>

<div id="startup" class="nes-container is-rounded is-dark">
<p class="p1">jQueryScript.Net is one of the BEST jQuery websites that provide web designers and developers with a simple way to preview and download a variety of Free jQuery Plugins.</p>
<p class="p2"></p>

</div>
<div id="startup2">
<label>
  <input type="radio" class="nes-radio" name="answer" />
  <span id="strating"><a href="/register">New Game</a></span>
</label>

<label>
  <input type="radio" class="nes-radio" name="answer" />
  <span id="starting"><a href="/login">Load Game</a></span>
</label>
</div>


