
<div id="title">
  <h1 class="blink_me">Kol-da-sack Kombat:</h1>
  <h2>Episode IV</h2>
  <h3>The Broken Window</h3>
</div>

<div id="startup" class="nes-container is-rounded is-dark">
  <p class="p1">Turmoil has engulfed the Kol-da-sack! While playing with your friends, a stray baseball shattered Granny Gertrude's window! Enraged, Gertrude transformed into a fierce dragon! It is up to you to defeat her and restoce balance to the Kol-da-sack....
  </p>
  <p class="p2"></p>

</div>
<div class="startupFour" >
<div class="starting" id="menu">
  <label>
    <input type="radio" class="nes-radio" name="answer" />
    <span><a href="/register">New Game</a></span>
  </label>
  <label>
    <input type="radio" class="nes-radio" name="answer" />
    <span><a href="/login">Load Game</a></span>
  </label>
</div>
</div>
<div id="dragon"></div>
<div id="runner"></div>

<script>
  $(document).click(()=>{
    const sound = new Audio("/assets/music/ff.mp3")
    sound.play()
  })
</script>