
<div id="title">
<h1>Kol-da-sack Kombat:</h1>
<h2>Episode I-The Broken Window</h4>
</div>

<div id="startup" class="nes-container is-rounded">
<p id="demo">Help defend the Kol-da-sack</p>
</div>

<form action="/login" method="POST"></form>
<div id="startup2" class="nes-field">
  <label for="name_field">Your email</label>
  <input type="text" id="name_field" class="nes-input">
</div>

<div id="startup2" class="nes-field">
  <label for="name_field">Your password</label>
  <input type="text" id="name_field" class="nes-input">
</div>
<div id="startup2">
 <input class="nes-btn" type="submit" value="sign up!">
</div>
</form>




   
