
<div id="title">
  <h1 class="blink_me">Kol-da-sack Kombat:</h1>
  <h2>Episode I</h2>
  <h3>The Broken Window</h3>
</div>

<div id="startup" class="nes-container is-rounded is-dark">
  <p class="p1">It is a period of great turmoil. While playing baseball, a runaway baseball broke the local Kol-da-sack
    cat grandma's window. Enraged, Kol-da-sack grandma transformed into a fierce dragon.Thirsty for blood and enraged,
    grandma is seeking revenge. Trusty weapon in hand, you have transformed into a great warrior and are ready to fight
    the Kol-da-sack grandma and bring freedom to the Kol-da-sack.......
  </p>
  <p class="p2"></p>

</div>
<div class="startupFour" >
<div class="starting" id="menu">
  <label>
    <input type="radio" class="nes-radio" name="answer" />
    <span><a href="/register">New Game</a></span>
  </label>
  <label>
    <input type="radio" class="nes-radio" name="answer" />
    <span><a href="/login">Load Game</a></span>
  </label>
</div>
</div>