
<div id="title">
<h1>Kol-da-sack Kombat:</h1>
<h2>Episode I</h2>
<h3>The Broken Window</h3>
</div>

<div id="startup" class="nes-container is-rounded is-dark">
<p id="demo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem tempora corrupti sapiente modi ipsa omnis expedita magnam quam consequatur cum veniam libero ut dolor architecto, voluptates earum et voluptate fugiat!</p>
p
</div>
