* {
    font-family: 'Press Start 2P', cursive;
    filter: blur(.5px) grayscale(90%);
    /*-webkit-filter: sepia(1);
    filter: sepia(1);*/
    
}


#title{
    margin: 0 auto;
    width: 50%;
    margin-top: 80px;
    padding: 10px;
    align-content: center;
    text-align: center;
}

#startup {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#startup2 {
    width: 20%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
#setupCon{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    
}

.p1{
    display: none;
}


.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

starting:hover{
    cursor: arrow;
}