#runner {
    margin-top: 90px;
    transform: translate(-50%, -50%);
    width: calc(920px / 8);
    height: 137px;
    background: url("/assets/image/sprite.png");
    animation: animate 1s steps(8) infinite,
        forward 5s linear infinite;

}
/*
#dragon {
    margin-top: 70px;
    transform: translate(-50%, -50%);
    width: calc(1293px / 8);
    height: 139px;
    background: url("/assets/image/dragonflyfly.jpg");
    animation: animateTwo 2s steps(8) infinite,
        forwardTwo 5s linear infinite;

}*/


/*
@keyframes animate
{
    from
    {
        background-position: 0;
    }
    to
    {
        background-position: 920px;
    }
}*/

@keyframes animate {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 920px;
    }
}

@keyframes forward {
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(100vw);
    }
}

/*
@keyframes animateTwo {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 1293px;
    }
}

@keyframes forwardTwo {
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(100vw);
    }
}
*/