<nav>
  {{#if user}}
  {{user.name}} |
  <a href="/logout">Retreat</a> |
  
  {{else}}
  <a href="/login">Load File</a> |
  <a href="/register">Create File</a>
  {{/if}}
</nav>

<div class="nes-container with-title is-centered highscores">
  <p class="title" id="things">Kol-da-sack Kombat</p>


</div>