<h1 id="gameTitle">Kol-da-sack Kombat</h1>
  
    <div class="grid-container">
        <div id="userInfo" class="grid-item">
            <img id="userImg" src="/assets/image/{{user.class}}.png" alt="{{user.class}}">
            <h3>{{user.name}}</h3>
            <progress class="nes-progress is-success" value="100" max="100"></progress>
            <div id="userBtns">
                <button type="button" class="nes-btn is-success topBtn" onclick="attackBtn()">Attack</button>
                <button type="button" class="nes-btn is-error topBtn">Special</button>
                <button type="button" class="nes-btn is-primary">Potion</button>
                <button type="button" class="nes-btn is-warning">Block</button>
            </div>
        </div>
        <div id="enemy" class="grid-item">
            <img src="/assets/image/monster.jpg" alt="monster" id="enemyPic">
            <h3>Enemy Name</h3>
            <progress class="nes-progress is-success" value="100" max="100"></progress>
            <div>Maybe do a 3rd party api call here?</div>
        </div>
    </div>

    <div class="nes-container with-title is-dark is-centered">
        <p class="title">Battle Commentary</p>
        <div>The Battle Has Commenced!!!</div>
    </div>

   